<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link href="css/general.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>


	<h:panelGroup layout="block" id="bg-header">
		<h:panelGroup layout="block" id="wrap-header">
			<h:panelGroup layout="block" id="banner">
				<h1>EASY SURVEY</h1>
				<h3>Cuestionarios Digitales en la Nube</h3>

			</h:panelGroup>

		</h:panelGroup>
	</h:panelGroup>

	<h:panelGroup layout="block" id="bg-menu">
		<h:panelGroup layout="block" id="wrap-menu">

			<p:menubar>
				<p:submenu label="Inicio">
					<p:menuitem value="Bienvenida" url="index.xhtml" />
					<p:menuitem value="Quienes Somos" url="quienes.xhtml" />
				</p:submenu>
				<p:submenu label="Cuestionarios">
					<p:menuitem value="Buscar" url="buscar.xhtml" />
					<p:menuitem value="Crear" url="crear.xhtml" />
					<p:menuitem value="Administrar" url="administrar.xhtml" />
				</p:submenu>
				<p:submenu label="Ayuda">
					<p:menuitem value="Empezar" url="empezar.xhtml" />
					<p:menuitem value="Preguntas Frecuentes"
						url="http://www.myspace.com" />
				</p:submenu>
				<p:submenu label="Registrarse">
					<p:menuitem value="Nuevo Usuario" url="registar.xhtml" />
				</p:submenu>
				<p:submenu label="Logueo">
					<p:menuitem value="Iniciar Sesion" url="login.xhtml" />
				</p:submenu>
			</p:menubar>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup layout="block" id="bg-body">
		<h:panelGroup layout="block" id="wrap-body">
			<h:panelGroup layout="block" id="space-body"></h:panelGroup>
			<h:panelGroup layout="block" id="inner-body">
				<p:outputLabel>Buscar Cuestionarios Existentes</p:outputLabel>
				<h:form>
					<p:autoComplete value="#{autocompletar.label}"
						completeMethod="#{autocompletar.complete}">
					</p:autoComplete>
				</h:form>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup layout="block" id="bg-footer">
		<h:panelGroup layout="block" id="wrap-footer">
			<h:panelGroup layout="block" id="derechos">
   				Maestria en Informatica de la UNSA, Arequipa 2014
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</h:body>
</html>
