<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link href="css/general.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>


	<h:panelGroup layout="block" id="bg-header">
		<h:panelGroup layout="block" id="wrap-header">
			<h:panelGroup layout="block" id="banner">
				<h1>EASY SURVEY</h1>
				<h3>Cuestionarios Digitales en la Nube</h3>

			</h:panelGroup>

		</h:panelGroup>
	</h:panelGroup>

	<h:panelGroup layout="block" id="bg-menu">
		<h:panelGroup layout="block" id="wrap-menu">

			<p:menubar>
				<p:submenu label="Inicio">
					<p:menuitem value="Bienvenida" url="index.xhtml" />
					<p:menuitem value="Quienes Somos" url="quienes.xhtml" />
				</p:submenu>
				<p:submenu label="Cuestionarios">
					<p:menuitem value="Buscar" url="buscar.xhtml" />
					<p:menuitem value="Crear" url="crear.xhtml" />
					<p:menuitem value="Administrar" url="administrar.xhtml" />
				</p:submenu>
				<p:submenu label="Ayuda">
					<p:menuitem value="Empezar" url="empezar.xhtml" />
					<p:menuitem value="Preguntas Frecuentes"
						url="http://www.myspace.com" />
				</p:submenu>
				<p:submenu label="Registrarse">
					<p:menuitem value="Nuevo Usuario" url="registar.xhtml" />
				</p:submenu>
				<p:submenu label="Logueo">
					<p:menuitem value="Iniciar Sesion" url="login.xhtml" />
				</p:submenu>
			</p:menubar>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup layout="block" id="bg-body">
		<h:panelGroup layout="block" id="wrap-body">
			<h:panelGroup layout="block" id="space-body"></h:panelGroup>
			<h:panelGroup layout="block" id="inner-body">
				<h:outputText styleClass="h2">Easy Survey</h:outputText>
				<h:outputText styleClass="h3">Cuestionarios Online</h:outputText>
				<p>EasySurvey es una herramienta online que le permitira crear
					sus cuestionarios en linea, y compartirlos con sus amigos, alumnos
					y/o publicamente.</p>
				<p>Busque los cuestionarios publicos creados por otras personas
					y respondalos, el sistema le gererara automaticamente su nota, la
					que quedara registrada en su historial de cuestionarios realizados,
					para luego ver sus progresos.</p>
				<p>Comparta los cuestionarios con sus alumnos para tomar
					examenes online, acceda a su cuenta para indicar que el
					cuestionario es de una sola resolucion y no puede ser modificada.
					Asi tendra un examen practico y sencillo para sus alumnos, del
					mismo modo, escoja la cantidad de preguntas que apreceran a los
					alumnos y escoja las opciones de preguntas aleatorias para que
					aleatorice, la posicion, el orden de las preguntas y alternativas,
					asi como las preguntas que van a aperecer.</p>

				
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup layout="block" id="bg-footer">
		<h:panelGroup layout="block" id="wrap-footer">
			<h:panelGroup layout="block" id="derechos">
   				Maestria en Informatica de la UNSA, Arequipa 2014
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</h:body>
</html>
