<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>

	<p:calendar value="#{navigator.date}" mode="popup" />
	<h:form>
		<p:autoComplete value="#{navigator.texto}"
			completeMethod="#{navigator.complete}" />
	</h:form>
	<p:breadCrumb>
		<p:menuitem label="Categories" url="#" />
		<p:menuitem title="Sports" url="test1.xhtml" />
		<p:menuitem label="Nuevo" url="#" />
	</p:breadCrumb>

	<p:editor></p:editor>

	<p:accordionPanel>
		<p:tab title="First Tab Title">
			<h:outputText value="Lorem" />
		</p:tab>
		<p:tab title="Second Tab Title">
			<h:outputText value="Ipsum" />
		</p:tab>
	</p:accordionPanel>

	<h:inputText value="None">
		<p:ajax update="out" />
	</h:inputText>
	<h:outputText id="out" value="None" />
	<h:inputText value="#{navigator.escoger()}"></h:inputText>


	<p:panel id="pnl" header="My Panel">

		<p:commandButton id="saveBtn" value="Save" />
	</p:panel>

	<p:blockUI block="pnl" trigger="saveBtn" />

	<p:inputText value="#{navigator.texto}"></p:inputText>

</h:body>
</html>
